<section class="task-list__item task">
    <div class="task__header">
        <a href="{% url 'tasks:detail' slug=task.slug category_slug=task.categories.slug  %}"><h1>{{ task.title }}</h1></a>
        <div>
            {{ task.description|safe }}
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nam provident tempore veniam error. Deserunt nesciunt perspiciatis totam dignissimos quasi.</p>
    </div>
    <div class="task__info">
        <span>{{ task.price }}</span>
        <span>
            {% if task.replay_count %}
            <small>Откликов</small>
            {{ task.reply_count }}
            {% else %}
            <small>Без откликов</small>
            {% endif %}
        </span>
        <time>{{ task.created }}</time>
    </div>
</section>