<footer>
    <div class="container">
        <select form="languageForm" name="language" id="id-lang" >
            {% load i18n %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for lang in languages %}
                <option value="{{ lang.code }}" {% if CURRENT_LANGUAGE == lang.code %} selected {% endif %}>{{ lang.name_local }} </option>
            {% endfor %}
        </select>
        <p>Coyright 2023</p>
    </div>

    <form id="languageForm" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
    </form>
</footer>