{% load i18n %}

<header>
    <div class="container">
        <button id="MenuButton" class="btn material-symbols-outlined toggler hidden" data-selector="nav">menu</button>
        <div class="brand">
            <h2><a href="/">Freelance Exchange</a></h2>
        </div>

        <nav>
            <button id="NavButtonClose" class="btn material-symbols-outlined toggler hidden" data-selector="nav">close</button>
            <h3><a href="{% url 'tasks:list' %}">Заказы</a></h2>
            <h3><a href="{% url 'burse:freelancer_list' %}">Фрилансеры</a></h2>
            <h3><a href="">Блог</a></h2>
        </nav>

        <div class="account">
            <div class="profile">
                <h3><a href="">Username</a></h3>
                <div class="menu">
                    <a href="">Мой профиль</a>
                    <a href="">Мои заказы</a>
                    <a href="">Мой отклики</a>
                    <a class="material-symbols-outlined" href="">logout</a>
                </div>
            </div>
            <a class="material-symbols-outlined" href="">login</a>
        </div>
    </div>
</header>