<header>
    <div class="container">
        <ul id="TopMenu" class="nav">
            <li class="nav-item"><a class="nav-link" href="/">Burse Freelance</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tasks:list' %}">Заказы</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'burse:freelancer_list' %}">Фрилансеры</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tasks:list' %}">Заказы</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'tasks:list' %}">Заказы</a></li>
        </ul>

        <ul class="nav">
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="">{{ user.username }}</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="">Регистрация</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'burse:auth' %}">Вход</a></li>
            {% endif %}
        </ul>
    </div>
</header>