{% load i18n %}

<header>
    <div class="container">
        <button id="MenuButton" class="btn material-symbols-outlined toggler hidden" data-selector="nav">menu</button>
        <div class="brand">
            <h2><a href="/">Freelance Exchange</a></h2>
        </div>

        <nav>
            <button id="NavButtonClose" class="btn material-symbols-outlined toggler hidden" data-selector="nav">close</button>
            <h3><a href="{% url 'tasks:list' %}">Заказы</a></h2>
            <h3><a href="{% url 'burse:freelancer_list' %}">Фрилансеры</a></h2>
            <h3><a href="">Блог</a></h2>
        </nav>

        <div class="account">
            {% if user.is_authenticated %}
            <div class="profile">
                <h3 class="toggler btn" data-selector="#AccoutMenu">{{ user.username }}</h3>
                <div id="AccoutMenu" class="menu">
                    <a href="">Мой профиль</a>
                    <a href="">Мои заказы</a>
                    <a href="">Мой отклики</a>
                    <a class="btn" href="{% url 'accounts:signout' %}">Выход <span class="material-symbols-outlined">logout</span></a>
                </div>
            </div>
            {% else %}
            <a class="material-symbols-outlined" href="{% url 'accounts:signin' %}">login</a>
            {% endif %}
        </div>
    </div>
</header>