{% extends 'burse/standart_layout.html' %}

{% block content %}
<div class="task">
    <div class="task__header">
        <h2>{{ task.title }}</h2>
    </div>
    <div class="task__description">
        <div>
            {{ task.description|safe }}
        </div>
    </div>
    <div class="task__info">
        <span>500₽</span>
        <span><small>Откликов</small> {{ task.replay_count }}</span>
        <time>{{ task.created|date }}</time>
    </div>
    <div class="task__customer">
        <h2>{{ task.user.username }}</h2>
        <span>Заказов: 30</span>
        <span>Рейтинг: 4.5</span>
    </div>

    <div class="replays">
        <h3>Отклики</h3>

        <div class="replay-list">
            {% for item in replays %}
            <div class="replay">
                <h2>{{ item.user.username }}</h2>
                <span>Рейтинг 3.4</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
