{% extends 'burse/base.html' %}

{% block content_header_title %}Заказы{% endblock %}

{% block extra_styles %}
{% load static %}

<link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
{% endblock %}


{% block content %}
<div class="task-list">
    {% for item in paginator.object_list %}
    <section class="task-list__item task">
        <div class="task__header">
            <h2><a href="{% url 'tasks:detail' slug=item.slug category_slug=item.category.slug  %}">{{ item.title }}</a></h2>
            
            {% if item.price %}
            <h3>{{ item.price }}</h3>
            {% else %}
            <h3>По договоренности</h3>
            {% endif %}
        </div>

        <div class="task__content">
            {{ item.description|safe }}
        </div>
        <div class="task__info">

            <span>
                {% if item.replay_count %}
                <small>Откликов: </small>
                {{ item.replay_count }}
                {% else %}
                <small>Без откликов</small>
                {% endif %}
            </span>
            <time>{{ item.created }}</time>
        </div>
    </section>
    {% endfor %}

    {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
        <div class="previous">
            <a class="material-symbols-outlined" href="?page={{ page_obj.previous_page_number }}">arrow_back</a>
        </div>
        {% endif %}
        <div class="digits">
            {% for page in page_obj.paginator.page_range %}
            {% if page_obj.number == page %}
            <span>{{ page }}</span>
            {% else %}
            <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
            {% endfor %}
        </div>

        {% if page_obj.has_next %}
        <div class="next">
            <a class="material-symbols-outlined" href="?page={{ page_obj.next_page_number }}">arrow_forward</a>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
