.task {
    display: grid;
    grid-template-rows: 30px auto max-content max-content max-content;
    gap: 1rem;
    justify-content: start;
    background-color: var(--white-color);
    border-radius: 1rem;
    padding: 1rem;
}

.task__header {
    display: grid;
    gap: 1rem;
    grid-template-rows: 30px auto;
}

.task__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task .replay-list {
    display: grid;
    grid-template-columns: auto;
}

.replays {
    padding: 1rem;
}

.replay-list > * {
    margin-top: 1rem;
    border-bottom: 1px solid var(--dark);
}

.replay-list > *:last-child {
    margin: none;
}

.task-list {
    display: grid;
    row-gap: 1rem;
    grid-auto-rows: max-content;
    gap: 1rem;
}

.task-list .task {
    grid-template-rows: none;
    grid-template-columns: auto max-content;
    grid-auto-rows: max-content;
}

.task-list .task__info {
    display: grid;
    grid-template-rows: repeat(3 1ft);
}